.wrapper {
    height: 100vh;
    background-color: #2A2C36;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap{
    height: 100vh;
    background-color: #2A2C36;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.counter-block {
    width: 500px;
    height: 450px;
    border: 7px solid #60D2F6;
    border-radius: 8px;
}

.display {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    height: 60%;
    border: 5px solid #60D2F6;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #60D2F6;
}
.buttons-block{
    width: 90%;
    height: 20%;
    margin: 0 auto;
    margin-top: 30px;
    border: 5px solid #60D2F6;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.button{
    background-color: #60D2F6;
    border: 1px solid transparent;
    border-radius: 8px;
    outline: none;
    text-align: center;
    font-size: 35px;
    padding: 5px 25px;
    color: #2A2C36;
    font-weight: 700;
    max-height: 60px;
}
.button:disabled {
    opacity: 0.5;
}
.display__value {

    font-size: 60px;
    font-weight: 700;
}
.display-message{
    font-size: 35px;
    font-weight: 700;
}
.error-message{
    font-size: 35px;
    color: red;
    font-weight: 700;
}
.current-value{
    font-size: 60px;
}
.stop-counting{
    color:red;
}

.input-field{
    color: #60D2F6;
    font-size: 30px;
    font-weight: 500;
}
.input-value {
    padding: 5px 0;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    outline: none;
    border: 3px solid #000;
    border-radius: 6px;
}
.incorrect-settings {
    background-color: darksalmon;
    border: 2px solid red;
    color: red;
}



